<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/assets/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/assets/bootstrap-5.3.3-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../static/assets/app/custom-style.css">

    <title>{% block title %}Financinator{% endblock %}</title>
</head>
<body>
    <header>
    </header>
    <nav>
        <!-- Navigation links -->
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
