{% extends "base.html" %}

{% block title %}Categories{% endblock %}

    {% block content%}
    <div id="page-content-div">
        <div id="cg-table-div">
            <table id="categories">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in category_list %}
                    <tr id="cg-{{loop.index}}">
                        <td>{{category.category_name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    
    {% endblock %}
