<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Test</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="../static/assets/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/assets/bootstrap-5.3.3-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/assets/app/custom-style.css">

        <script>
            function removeIsNewCheckbox(index){
                document.getElementById('is-new-' + index).checked = false;
            }
        </script>
    </head>
    <header></header>
    <body>
        {% block content%}
        <div id="page-content-div">
            <div id="tx-table-div">
                <table id="transactions">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>New</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Balance</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transaction_list %}
                        <tr id="tx-{{loop.index}}">
                            <td>{{transaction.posting_date}}</td>
                            <td><input type="checkbox" id="is-new-{{loop.index}}" {% if transaction.is_new %}checked{% endif %}></td>
                            <td>
                                <select id="categories-dropdown-{{loop.index}}" onchange="removeIsNewCheckbox({{loop.index}})">
                                    <option value="{{transaction.category_name}}">{{transaction.category_name}}</option>
                                    
                                    {% for primary_category in category_list %}
                                        <option value="{{primary_category.name}}">{{primary_category.name}}</option>
        
                                        {% for sub_category in primary_category.subcategories %}
                                            <option value="{{sub_category}}">{{primary_category.name}}: {{sub_category.name}}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>{{transaction.description}}</td>
                            <td>{{transaction.amount}}</td> 
                            <td>{{transaction.type}}</td>
                            <td>{{transaction.end_balance}}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        
        {% endblock %}
    </body>
</html>